services:

  db:
    image: postgres:15
    env_file:
      - .env
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: sh -c "sleep 10 && python manage.py runserver 0.0.0.0:8000"
    env_file:
      - .env
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db


  frontend:
    build: ./frontend
    command: npm start -- --host 0.0.0.0 --port 4200
    ports:
      - "4200:4200"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend


